body{
	background-color:gray;
}

#java{
	color:purple;
}

.yellow{
	color:yellow;
}

.green{
	color:green;
}

li{
	color:orange;
}

table, thead, tbody td{
	border-width: 1px;
	border-color: black;
	border-style: solid;
}
